Положение об европейсокм чемпионате.

<b> <%= link_to 'Регистрация команды', new_team_path %> </b>
<br>
<b> <%= link_to 'Просмотр всех зарегистрованных команд', teams_path %></b> 
<br/>
<br/>
<br/>


<a href="#" onclick="paintIt(this, 'red')">Paint it red</a>

