<div id="champCont">
<h2>Студенческий чемпионат Европы по го</h2>
<p>
На нашем сайте Вы можете зарегистрироваться на чемпионат, а также посмотреть список команд, которые будут в нем участвовать.
</p>
<div class="champLinks">
<div class="champLink">
<%= link_to 'Регистрация команды', new_team_path %>
<div class="champLink">
</div>
<%= link_to 'Просмотр всех зарегистрованных команд', teams_path %>
</div>
</div>
</div>

