<div id="contaktsCont">

<h1>РЕДАКТИРОВАНИЕ НОВОСТЕЙ</h1>

<table>
  <tr>
    <th>Название</th>
    <th>Текст</th>
    <th colspan="3"></th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      
      <td><%= link_to 'Просмотреть', article_path(article) %></td>
      <td><%= link_to 'Удалить', article_path(article),
              method: :delete,
              data: { confirm: 'ВЫ уверены? После удаления восстановить новость невозможно' } %></td>
    </tr>
  <% end %>
</table>
</div>
