<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
<% qw=0 %>   
  <% @article.text.split("<br>").each do |par| %>
     <p>
	<% par.split("<pic>").each do |m_par| %>
	  <%= m_par %>
          <%if @article.pictures[qw]!= nil %>
 		<%= image_tag @article.pictures[qw].image.url(:thumb) %>
	  <%end%>
	  <% qw+=1 %>
        <%end%>
    </p>
<% end %>
</p>

    
