/* Стиль основного меню */

.e-header {
	position: fixed;
	top: 0; 
	height: 50px;
	background-color: white;
	width: 100%;
	z-index: 30;
}

.e-menuDiv {
	position: absolute;
	width: 100%;
	top: 0px;
	bottom: 0px;
	background-color: #EEE;
	border-bottom: solid 1px #CCC;
	border-top: solid 1px #CCC;
	display: table;
}

.e-menuA:link {
	display: table-cell;
	vertical-align: middle; 
	height: 50px;
	border: solid 1px #DDD;
	text-align: center;
	text-decoration: none; /* убираем подчеркивание */
	color: #666;
}

.e-menuA:visited {
	display: table-cell;
	vertical-align: middle; 
	height: 50px;
	border: solid 1px #DDD;
	text-align: center;
	text-decoration: none; /* убираем подчеркивание */
	color: #666;
}

.e-menuA:hover {
	display: table-cell;
	vertical-align: middle; 
	height: 50px;
	border: solid 1px #DDD;
	text-align: center;
	text-decoration: none; /* убираем подчеркивание */
	color: #444;
	-webkit-box-shadow: 0px 3px 5px 1.5px rgba(0,0,0,0.23);
	-moz-box-shadow: 0px 3px 3px 1.5px rgba(0,0,0,0.23);
	box-shadow: 0px 3.5px 5px 1.5px rgba(0,0,0,0.23);
}

.e-menuA:active {
	display: table-cell;
	vertical-align: middle; 
	height: 50px;
	border: solid 1px #DDD;
	text-align: center;
	text-decoration: none; /* убираем подчеркивание */
	color: #F77;
}

/* Стиль слайд-шоу */


/* Стиль остального контента */

body {
	top: 50px;
	position: relative;
}

.e-content {
	padding-top: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	min-width: 400px;
	max-width: 55%;	
	position: relative;
	background-color: #E9FFE9;/*#F9F7E6;/*#F9F8F6;*/
}

.e-newsPost {
	position: relative;	
	color: #333; 
}

.e-newsHeader {
	top: 15px;
	position: relative;
	font-size: 20px;
	border-bottom: solid 0.5px #333;
	padding-bottom: 10px;
	margin-left: 5%;
	margin-right: 5%;
}

.e-newsTitle {
	position: relative;
	right: 20%;
	left: 0;
	font-size: 26px;
	
}
.e-newsDate {
	position: relative;
	right: 5%;
	text-align: right;
}

.e-newsBody {
	top: 15px;
	position: relative;
	font-size: 18px;
	margin-left: 5%;
	margin-right: 5%;
}
