<h1> Страница админа </h1>

 <%= link_to 'Добавить новость', new_article_path %>
<br />
 <%= link_to 'Удалить новость', articles_addel_path %>
<br />
 <%= link_to 'Редактирование команд', teams_addel_path %>
