
<table>
<tr>
	<td>Название </td>
	<td>Участники </td>
	<td> подтверждено </td>
	
		
</tr>
 <% @teams.each do |team| %>
<tr>
	<td> <%=team.name_team%> </td>
	<td>		
	<%team.teammates.each do |tm|%>	
	  <%if tm.name != ""%>	 
	    <%=tm.name%> ,
	  <%end%>
	<%end%>
	</td>
	<td> <%if team.check%> Подтверждено <%else%> Не подтверждено <%end%> </td>
</tr>
  <% end %>
</table>
