
<table class="e-table">
<tr class="e-tableHead">
	<td>Название </td>
	<td>Участники </td>
	<td> подтверждено </td>
	
		
</tr>
<%q = 1%>
 <% @teams.each do |team| %>
<%q = q%2+1%>
<tr class=<%="e-tableRow"+q.to_s %> >
	<td> <%=team.name_team%> </td>
	<td>	
	<%qw = 0%>	
	<%team.teammates.each do |tm|%>	
	  <%if tm.name != ""%>	 
	    <%=tm.name%> 
		<%if @teams[qw+1]!=nil && @teams[qw+1]!=""%>, <%end%>
	  <%end%>
	  <%qw=qw+1%>
	<%end%>
	</td>
	<td> <%if team.check%> 
		<im style = "color:green;">Подтверждено </im> 
	     <%else%> 
		<im style = "color:red;">Не подтверждено </im>
	     <%end%> 
	</td>
</tr>
  <% end %>
</table>
